<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bw.movie">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name= "android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.ActivityBegin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.MainActivity" />
        <activity android:name=".activitys.ActivityGuidance" />
        <activity android:name=".activitys.ActivityLogin" />
        <activity android:name=".activitys.ActivityRegister" />
        <activity android:name=".activitys.ActivityInform" />
        <activity android:name=".activitys.ActivityMessage" />
        <activity android:name=".activitys.ActivityAttention" />
        <activity android:name=".activitys.ActivityHistory" />
        <activity android:name=".activitys.ActivityOpinion" />
        <activity android:name=".activitys.ActivityCinemaDetails" />
        <activity android:name=".activitys.ActivityOpinionSuccess" />
        <activity android:name=".activitys.ActivityResetPwd" />
        <activity android:name=".activitys.ActivityFilm" />
        <activity android:name=".activitys.ActivityUpdateName" />
        <activity android:name=".activitys.ActivityUpdateSex" />
        <activity android:name=".activitys.ActivityUpdateEmail" />
        <activity
            android:name=".activitys.ActivityFilmDetails"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".activitys.ActivityBuyTicket" />
        <activity android:name=".activitys.ActivityMap" />
        <activity android:name=".activitys.ActivityCinemaList"/>
        <activity android:name=".activitys.ActivityCinemaDetaolsList"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2d5762dec9c3763eaef3e752171689c5">
            <!-- 开发者申请的key -->
        </meta-data>
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>